[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.3"
pytest = "==6.0.2"

[packages]
torch = {version = "==1.6.0", sys_platform = "!= 'win32'"}
torch_win = {file = "https://download.pytorch.org/whl/cu102/torch-1.6.0-cp37-cp37m-win_amd64.whl", sys_platform = "== 'win32'"}
transformers = "==3.1.0"
observations = "==0.1.4"
optuna = "==2.1.0"

[requires]
python_version = "3.7.0"

[scripts]
lint = "flake8 . --max-line-length 100 --exclude ./trellisnet/,./TCN/"
# for linux
test = "bash -c \"export SKIP_BERT= ; pipenv run pytest --ignore=./TCN/\""
test_ = "bash -c \"export SKIP_BERT=TRUE ; pipenv run pytest --ignore=./TCN/\""
tent = "bash -c \"pipenv run test ; pipenv run lint\""
tent_ = "bash -c \"pipenv run test_ ; pipenv run lint\""
# for windows
wtest = "cmd /c \"set SKIP_BERT=&&pipenv run pytest --ignore=./TCN/\""
wtest_ = "cmd /c \"set SKIP_BERT=TRUE&&pipenv run pytest --ignore=./TCN/\""
wtent = "cmd /c \"pipenv run wtest&&pipenv run lint\""
wtent_ = "cmd /c \"pipenv run wtest_&&pipenv run lint\""
